h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    
    
}

    

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: cursive;
}
ol{
    list-style-type: inherit;
    list-style-position: inside;
   
    margin: 3px;
    width: 500px;
    height: 100px;
    padding: 20px;
    
    border-radius: 10px;
}
ol li{
    outline: 1px solid rgb(129, 206, 230);
    padding: 10px;
   
}

td{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th{
    height: 50px;
    font-family: cursive;
}
tr:hover{
    background-color:rgb(137, 217, 219)
}

a{
    font-size: 20px;
    text-decoration:none;
}
body{
    font-size: x-large;
    background-color: rgb(231, 255, 249);
}



.title{
    text-align: center;
    background-color: rgb(212, 248, 248);
}
.para{
    text-align: center;
    
}
.poster-1{
    border-radius: 20px;
}
.main{
   display: flex;
   justify-content: center;
}
.boxcontainer{
   
    display: flex;
    justify-content: center;
    margin-right: 100px;
   
    
}
.Table{
    display: flex;
    justify-content: center;
    
}

.sub-part{
    text-align: center;
}
.list{
 display: flex;
 justify-content: center;
    
}
.a1{
        
   margin-right: 20px;
   margin-bottom: 20px;
}
.b1{
    margin-right: 20px;
   
    margin-bottom: 20px;
   
}


.Footer{
    text-align: center;
    background-color: paleturquoise;
}
@media screen and (max-width:870px){
.boxcontainer{
    
        width: 300px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

    }
    .poster-1{
        width: 300px;
       
    }
    
}
    @media screen and (max-width:870px){
    .list{
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
}
